[merge]
	conflictstyle = diff3
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[diff]
    colorMoved = default
[pull]
	ff = only
[cinnabar]
	helper = /home/stefan/.git-cinnabar/git-cinnabar-helper
[init]
	defaultBranch = main
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[push]
	default = upstream
	autoSetupRemote = true
[alias]
	root = rev-parse --show-toplevel
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[checkout]
	defaultRemote = origin
[fetch]
	prune = true
[rerere]
    enable = true
[sendemail]
	smtpserver = smtp.migadu.com
	smtpuser = git@zabka.it
	smtpencryption = ssl
	smtpserverport = 465
[gpg]
	format = ssh
[user]
	signingkey = /home/stefan/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
